@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type='checkbox'],
input[type='radio'] {
  display: none;
}

input[type='submit'],
input[type='button'],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
}

body {
  font-size: 16px;
  line-height: 1.6;
  color: #3e3e3e;
  background: #f3f3f3;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
}

.inner {
  margin-left: 40px;
  margin-right: 40px;
}

@media (max-width: 540px) {
  .inner {
    margin-left: 16px;
    margin-right: 16px;
  }
}

.is-sp {
  display: none;
}

@media (max-width: 540px) {
  .is-sp {
    display: block;
  }
}

.section-title {
  font-size: 36px;
  line-height: 1.22222;
  font-family: "Montserrat", sans-serif;
  color: #3e3e3e;
  text-align: center;
  padding: 60px 0;
}

@media (max-width: 540px) {
  .section-title {
    padding: 40px 0;
    font-size: 30px;
    line-height: 1.23333;
  }
}

.btn {
  width: 236px;
  height: 64px;
  border: 1px solid #707070;
  padding: 17px 0;
  text-align: center;
  margin: 40px auto 0;
  letter-spacing: 4px;
  color: #3e3e3e;
  font-weight: bold;
}

.btn:hover {
  color: #fff;
  background: #3e3e3e;
  cursor: pointer;
}

@media (max-width: 540px) {
  .btn {
    width: 268px;
    height: 54px;
    padding: 11px 0;
    letter-spacing: 2.5px;
  }
}

.btn a {
  font-size: 20px;
}

header {
  width: 100%;
  height: 648px;
  z-index: 300;
  background: url(../img/mv@2x.png) no-repeat center center/cover;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

@media (max-width: 540px) {
  header {
    height: 68px;
    position: fixed;
    width: 100vw;
    background: rgba(255, 255, 255, 0.7);
    opacity: 1;
  }
}

.header__head__logo {
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  font-weight: bold;
  position: fixed;
  top: 14px;
  left: 16px;
  color: #3e3e3e;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 83px;
  padding: 28px;
  background: #ffffff1a;
}

@media (max-width: 540px) {
  .header__items {
    display: none;
  }
}

.header__item {
  letter-spacing: -0.4px;
}

.header__item:hover {
  text-decoration: underline;
}

.header__item + .header__item {
  margin-left: 38px;
}

@media (min-width: 541px) and (max-width: 1199px) {
  .header__item + .header__item {
    margin-left: 20px;
  }
}

.header__text {
  font-family: "游ゴシック体", sans-serif;
  position: absolute;
  right: 24px;
  height: calc(100% - 83px);
  top: 230px;
}

@media (max-width: 540px) {
  .header__text {
    top: 68px;
    width: 100%;
    height: 598px;
    right: 0;
    padding: 161px 16px;
    margin: 0;
    background: url(../img/mv@2x.png) no-repeat left -208px center/cover;
  }
}

.header__text h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.02px;
}

@media (max-width: 540px) {
  .header__text h2 {
    font-size: 24px;
    line-height: 1.66667;
  }
}

.header__text p {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.55556;
  margin-top: 27px;
}

@media (max-width: 540px) {
  .header__text p br {
    display: none;
  }
}

@media (max-width: 540px) {
  .header__text p {
    font-size: 14px;
    line-height: 1.42857;
    margin-top: 20px;
  }
}

.header__btn {
  margin-top: 46px;
}

@media (min-width: 541px) and (max-width: 1199px) {
  .header__btn {
    margin-top: 65px;
    text-align: center;
  }
}

@media (max-width: 540px) {
  .header__btn {
    margin-top: 36px;
    text-align: center;
    height: 50px;
  }
}

.header__btn a {
  padding: 10px 50px;
  background-color: #ffaa3b;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 5px #3e3e3e33;
          box-shadow: 0 3px 5px #3e3e3e33;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 540px) {
  .header__btn a {
    width: 222px;
    height: 48px;
    font-size: 16px;
    padding: 13px 32px;
  }
}

.drawer__icon {
  position: absolute;
  top: 24px;
  right: 16px;
  width: 26px;
  height: 20px;
  z-index: 199;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

@media (max-width: 540px) {
  .drawer__icon {
    display: block;
  }
}

.drawer__icon.is-active {
  -webkit-transform: translateX(-305px);
          transform: translateX(-305px);
  z-index: 200;
}

.drawer__icon.is-active .drawer__icon__bar1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
  background: #fff;
  position: inherit;
}

.drawer__icon.is-active .drawer__icon__bar2 {
  display: none;
}

.drawer__icon.is-active .drawer__icon__bar3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
  background: #fff;
}

.drawer__icon__bars {
  width: 26px;
  height: 20px;
  display: block;
  position: relative;
}

.drawer__icon__bar1,
.drawer__icon__bar2,
.drawer__icon__bar3 {
  position: absolute;
  width: 26px;
  height: 4px;
  background: #3e3e3e;
  border-radius: 25%;
  top: 0;
  left: 0;
}

.drawer__icon__bar1 {
  top: 0;
}

.drawer__icon__bar2 {
  top: 8px;
}

.drawer__icon__bar3 {
  top: 16px;
}

.drawer__content {
  background: #fff;
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  z-index: 199;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drawer__content.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.drawer__content__items {
  text-align: center;
}

.drawer__content__item {
  font-size: 18px;
  margin-bottom: 32px;
}

.drawer__content__item a {
  display: block;
  padding: 15px 20px;
  color: #707070;
  font-size: 16px;
  text-decoration: none;
  position: relative;
}

.drawer__content__item a:hover {
  text-decoration: underline;
}

.drawer__backgraund {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(62, 62, 62, 0.7);
  z-index: 198;
  display: none;
}

.drawer__backgraund.is-active {
  display: block;
}

.news {
  background: #fff;
  height: auto;
  margin-top: 120px;
  margin-bottom: 120px;
  padding-bottom: 40px;
}

@media (max-width: 540px) {
  .news {
    position: absolute;
    margin-top: 0;
    margin-bottom: 40px;
    top: 628px;
    height: auto;
  }
}

.news__wrapper {
  width: 100%;
  padding: 0 60px;
}

@media (max-width: 540px) {
  .news__wrapper {
    padding: 0;
  }
}

.news__link {
  cursor: pointer;
  display: block;
}

.news__link:hover {
  background: #4973ff1a;
}

.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 38px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  position: relative;
}

.news__item + .news__item {
  border-top: none;
}

@media (min-width: 541px) and (max-width: 1199px) {
  .news__item {
    display: block;
    padding: 16px;
  }
}

@media (max-width: 540px) {
  .news__item {
    display: block;
    padding: 16px;
  }
}

.news__item:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 14px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/news-arrow@2x.png) no-repeat center center/contain;
  width: 14.75px;
  height: 33.5px;
}

.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.date time {
  font-size: 18px;
  letter-spacing: 0.45px;
}

@media (max-width: 540px) {
  .date time {
    font-size: 13px;
    letter-spacing: 0.35px;
  }
}

.news__text {
  width: 122px;
  height: 30px;
  font-size: 14px;
  padding: 5px 0px;
  text-align: center;
  background: #fff;
  border: 1px solid #3b69ff;
  border-radius: 50px;
  margin-left: 28px;
}

@media (max-width: 540px) {
  .news__text {
    width: 80px;
    height: 17px;
    font-size: 11px;
    padding: 0px 12px;
    margin-left: 21px;
  }
}

.news__subtext {
  width: 65%;
  font-size: 18px;
  margin: 0 40px;
  line-height: 1.55556;
}

@media (min-width: 541px) and (max-width: 1199px) {
  .news__subtext {
    width: 88%;
    font-size: 14px;
    line-height: 1.42857;
    margin: 10px 0;
    -webkit-margin-start: 0px;
            margin-inline-start: 0px;
  }
}

@media (max-width: 540px) {
  .news__subtext {
    width: 88%;
    font-size: 14px;
    line-height: 1.42857;
    margin: 0;
    -webkit-margin-start: 0px;
            margin-inline-start: 0px;
  }
}

.service {
  position: relative;
  width: 100%;
  height: 1371px;
  overflow: hidden;
}

@media (max-width: 540px) {
  .service {
    top: 1242px;
  }
}

.service__title {
  height: 403px;
  background: #3e3e3e;
  color: #fff;
  z-index: 1;
}

@media (max-width: 540px) {
  .service__title {
    height: 479px;
  }
}

.service__items {
  height: 331px;
  padding: 73px 45px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  position: absolute;
  z-index: 2;
  top: 164px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 541px) and (max-width: 1199px) {
  .service__items {
    width: 90%;
    margin: 0;
    position: absolute;
    height: auto;
    padding: 32px 45px;
  }
}

@media (max-width: 540px) {
  .service__items {
    display: block;
    width: 343px;
    margin: 0;
    position: absolute;
    top: 115px;
    height: auto;
    padding: 12px 17px 27px;
  }
}

.servise__item {
  width: 230px;
  height: 211px;
}

@media (min-width: 541px) and (max-width: 1199px) {
  .servise__item {
    margin: 0 auto;
  }
}

@media (max-width: 540px) {
  .servise__item {
    width: 311px;
    height: 178px;
    margin-top: 40px;
  }
}

.servise__item + .servise__item {
  margin-left: 90px;
}

@media (min-width: 541px) and (max-width: 1199px) {
  .servise__item + .servise__item {
    margin: 0 auto;
  }
}

@media (max-width: 540px) {
  .servise__item + .servise__item {
    margin-left: 0;
  }
}

.servise__item h3 {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 4px;
  font-weight: bold;
  text-align: center;
  margin-top: 16px;
}

.servise__item p {
  font-size: 14px;
  line-height: 1.71429;
  font-family: "游ゴシック体", sans-serif;
  margin-top: 11px;
}

.service__img {
  text-align: center;
}

.service__img img {
  width: 50px;
  height: 44px;
}

.service__results__wrapper {
  height: auto;
  padding-left: 60px;
  padding-top: 60px;
  background: #3e3e3e;
  position: absolute;
  top: 617px;
  width: 100%;
  z-index: 1;
  margin-left: 40px;
}

@media (max-width: 540px) {
  .service__results__wrapper {
    top: 868px;
    padding-left: 17px;
    padding-top: 42px;
    margin-left: 0px;
  }
}

.service__results__title {
  text-align: left;
  color: #fff;
  padding: 0;
}

@media (max-width: 540px) {
  .service__results__title {
    text-align: center;
  }
}

.service__results__item {
  width: 960px;
  height: 366px;
}

.service__results__img img {
  width: 100%;
  height: 250px;
}

@media (max-width: 540px) {
  .service__results__img img {
    width: 274px;
    height: 171px;
  }
}

.service__results__container {
  background: #fff;
  padding: 16px;
}

@media (max-width: 540px) {
  .service__results__container {
    width: 274px;
    height: 82px;
    padding: 12px;
  }
}

.service__results__container h3 {
  font-size: 20px;
  font-family: "游ゴシック体", sans-serif;
  line-height: 1.2;
  font-weight: bold;
}

@media (max-width: 540px) {
  .service__results__container h3 {
    font-size: 14px;
    line-height: 1.14286;
  }
}

.service__results__container p {
  font-size: 16px;
  font-family: "游ゴシック体", sans-serif;
  line-height: 1.5;
  margin-top: 16px;
}

@media (max-width: 540px) {
  .service__results__container p {
    font-size: 12px;
    line-height: 1.5;
  }
}

.service__btn {
  border: 1px solid #ffffff;
  color: #fff;
  background: #3e3e3e;
  width: 288px;
  height: 64px;
  padding: 17px 0;
  text-align: center;
  margin: 63px 0;
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 20px;
}

.service__btn:hover {
  color: #3e3e3e;
  background: #fff;
  cursor: pointer;
}

@media (max-width: 540px) {
  .service__btn {
    width: 268px;
    height: 54px;
    padding: 11px 0;
    letter-spacing: 2.5px;
    margin-left: auto;
    margin-right: auto;
  }
}

.swiper {
  width: 100%;
  height: 400px;
  margin-top: 59px;
}

@media (max-width: 540px) {
  .swiper {
    height: auto;
    margin-top: 41px;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 540px) {
  .swiper-slide {
    height: 253px;
    margin-right: 20px;
  }
}

.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: 100%;
  top: auto;
  left: 75px;
  height: 30px;
}

.swiper-pagination-bullet {
  background: var(--swiper-pagination-bullet-inactive-color, #fff);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 12px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 12px));
}

.swiper-pagination {
  position: absolute;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 10;
  text-align: left;
}

.swiper-pagination-bullet-active {
  border: 2px solid #3e3e3e;
  outline: 1px solid #fff;
}

.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: 100%;
  left: 60px;
  top: 567px;
}

@media (max-width: 540px) {
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    top: 395px;
    left: 95px;
  }
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 300px;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

@media (max-width: 540px) {
  .swiper-slide {
    width: 275px;
    height: 253px;
  }
}

.swiper-horizontal.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
.swiper-pagination-bullet {
  margin: 0px var(--swiper-pagination-bullet-horizontal-gap, 10px);
}

.price {
  height: 1216px;
  margin-top: 60px;
  overflow: hidden;
}

@media (max-width: 540px) {
  .price {
    margin-top: 1273px;
    height: 847px;
  }
}

.price__items {
  width: 75%;
  margin: 0 auto;
}

@media (max-width: 540px) {
  .price__items {
    width: 92%;
    margin-left: 16px;
    margin-right: 16px;
  }
}

.price__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat", sans-serif;
}

.price__item + .price__item {
  border-top: none;
}

.price__left {
  width: 27%;
  height: 61px;
  font-size: 24px;
  line-height: 1.20833;
  padding: 15px;
  text-align: center;
  color: #fff;
  background: #3e3e3e;
}

.price__left:not(:first-child) {
  border-top: 1ps solid #fff;
}

@media (max-width: 540px) {
  .price__left {
    padding: 12px;
    height: 55px;
    font-size: 20px;
  }
}

.price__right {
  width: 73%;
  height: 60px;
  border: 1px solid #707070;
  font-size: 24px;
  line-height: 1.20833;
  padding: 15px;
  padding-left: 40px;
  color: #3e3e3e;
  background: #fff;
}

@media (max-width: 540px) {
  .price__right {
    padding: 11px;
    height: 56px;
    font-size: 20px;
    padding-left: 18px;
  }
}

.price__text {
  font-size: 12px;
  color: #3e3e3e;
  width: 75%;
  margin: 6px auto;
}

.price__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 120px;
  position: relative;
  z-index: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 541px) and (max-width: 1199px) {
  .price__wrapper {
    display: block;
    margin-top: 39px;
  }
}

@media (max-width: 540px) {
  .price__wrapper {
    display: block;
    margin-top: 56px;
  }
}

.price__wrapper__left {
  width: 56%;
  max-width: 666px;
  height: 604px;
  padding: 120px 60px;
  background: #fff;
  position: inherit;
  z-index: 2;
}

@media (min-width: 541px) and (max-width: 1199px) {
  .price__wrapper__left {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 540px) {
  .price__wrapper__left {
    width: 100%;
    height: auto;
    padding: 36px 20px;
  }
}

.price__wrapper__left h3 {
  font-size: 36px;
  line-height: 1.22222;
  font-weight: bold;
}

@media (max-width: 540px) {
  .price__wrapper__left h3 {
    font-size: 30px;
    line-height: 1.23333;
  }
}

.price__wrapper__introduce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

@media (max-width: 540px) {
  .price__wrapper__introduce {
    margin-top: 39px;
  }
}

.price__wrapper__introduce p {
  font-size: 16px;
  line-height: 1.5;
  font-family: "游ゴシック体", sans-serif;
  color: #3e3e3e;
  margin-left: 32px;
}

@media (max-width: 540px) {
  .price__wrapper__introduce p {
    font-size: 14px;
    line-height: 1.42857;
    margin-left: 20px;
  }
}

.price__wrapper__img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

@media (max-width: 540px) {
  .price__wrapper__img img {
    width: 60px;
    height: 60px;
  }
}

.price__wrapper__right {
  margin: auto 0;
  width: 44%;
  max-width: 543px;
  position: inherit;
  z-index: 2;
}

@media (min-width: 541px) and (max-width: 1199px) {
  .price__wrapper__right {
    display: none;
  }
}

@media (max-width: 540px) {
  .price__wrapper__right {
    display: none;
  }
}

.price__bg {
  width: 81.5%;
  height: 576px;
  background: #3e3e3e;
  position: absolute;
  z-index: 1;
  left: -40px;
  top: 24%;
}

@media (min-width: 541px) and (max-width: 1199px) {
  .price__bg {
    width: 120%;
    height: 576px;
    top: 58px;
  }
}

@media (max-width: 540px) {
  .price__bg {
    width: 120%;
    height: 443px;
    top: 58px;
  }
}

.question {
  width: 100%;
  height: 952px;
  background: url(../img/qa-bg@2x.png) no-repeat center center/cover;
  position: relative;
  top: -5px;
}

@media (max-width: 540px) {
  .question {
    top: 0px;
    height: 821px;
  }
}

.question__wrapper {
  width: 48%;
  position: absolute;
  right: 0;
}

@media (min-width: 541px) and (max-width: 1199px) {
  .question__wrapper {
    width: 90%;
  }
}

@media (max-width: 540px) {
  .question__wrapper {
    width: 92%;
  }
}

.question__items {
  margin-bottom: 32px;
  background-color: #fff;
}

@media (max-width: 540px) {
  .question__items {
    margin-bottom: 24px;
  }
}

.question__text {
  position: relative;
  cursor: pointer;
  font-weight: bold;
  line-height: 1.5;
  padding: 16px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 540px) {
  .question__text {
    padding: 20px;
  }
}

.question__text::before, .question__text::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  background: #3b69ff;
}

.question__text span {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  border-radius: 50%;
  background: #3b69ff;
  color: #fff;
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width: 540px) {
  .question__text span {
    margin-right: 16px;
  }
}

.question__text::before {
  top: 48%;
  right: 20px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.question__text::after {
  top: 48%;
  right: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.question__text.close::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.question__text.close::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.question__box {
  display: none;
  padding: 1px 16px 16px;
  font-size: 16px;
}

.question__box p {
  background: #3b69ff33;
  border-radius: 4px;
  padding: 11px 18px;
}

.access {
  margin-bottom: 120px;
  top: -6px;
  position: relative;
  margin-right: 40px;
}

@media (min-width: 541px) and (max-width: 1199px) {
  .access {
    width: 100%;
    padding: 40px 16px 44px;
    background: #3E3E3E;
    margin-right: 0px;
    top: -5px;
    margin-bottom: 0px;
  }
}

@media (max-width: 540px) {
  .access {
    width: 100%;
    padding: 40px 16px 33px;
    background: #3E3E3E;
    margin-right: 0px;
    top: 0px;
    margin-bottom: 0px;
  }
}

.access__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

.access__left {
  width: 79%;
  height: 504px;
  padding: 120px 100px;
  background: #3E3E3E;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 541px) and (max-width: 1199px) {
  .access__left {
    width: 100%;
    position: static;
    padding: 0;
  }
}

@media (max-width: 540px) {
  .access__left {
    width: 100%;
    position: static;
    padding: 0px;
  }
}

.access__left h2 {
  font-size: 36px;
  line-height: 1.23333;
}

@media (min-width: 541px) and (max-width: 1199px) {
  .access__left h2 {
    font-size: 30px;
    line-height: 1.22222;
    text-align: center;
  }
}

@media (max-width: 540px) {
  .access__left h2 {
    font-size: 30px;
    line-height: 1.22222;
  }
}

.access__left p {
  line-height: 1.5;
  margin-top: 60px;
}

@media (min-width: 541px) and (max-width: 1199px) {
  .access__left p {
    text-align: center;
    margin-top: 39px;
    font-size: 14px;
    line-height: 1.42857;
  }
}

@media (max-width: 540px) {
  .access__left p {
    margin-top: 39px;
    font-size: 14px;
    line-height: 1.42857;
  }
}

.access__btn {
  margin-top: 27px;
  border: 1px solid #fff;
  width: 314px;
  height: 64px;
  padding: 17px;
  text-align: center;
  padding: 12px;
  font-weight: 300;
}

.access__btn:hover {
  cursor: pointer;
  background: #fff;
  color: #3E3E3E;
}

@media (min-width: 541px) and (max-width: 1199px) {
  .access__btn {
    margin: 307px auto 0;
    width: 341px;
    height: 57px;
  }
}

@media (max-width: 540px) {
  .access__btn {
    margin-top: 281px;
    width: 341px;
    height: 57px;
  }
}

.access__btn a {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
}

.access__right {
  width: 726px;
  height: 520px;
  position: absolute;
  top: 121px;
  right: 0px;
  z-index: 2;
}

@media (min-width: 541px) and (max-width: 1199px) {
  .access__right {
    width: 80%;
    max-width: 700px;
    height: 241px;
    top: 158px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
  }
}

@media (max-width: 540px) {
  .access__right {
    width: 343px;
    height: 241px;
    top: 158px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
  }
}

.access__right iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.contact {
  width: 100%;
  height: 1122px;
  background: url(../img/contact-bg@2x.png) no-repeat center center/cover;
  position: relative;
  top: 637px;
}

@media (min-width: 541px) and (max-width: 1199px) {
  .contact {
    top: -6px;
    height: auto;
  }
}

@media (max-width: 540px) {
  .contact {
    padding: 40px 16px;
    top: 0;
    height: 1076px;
  }
}

.contact__us {
  margin: 0 auto;
  border-radius: 12px;
  padding: 60px 160px;
  height: 1118px;
}

@media (min-width: 541px) and (max-width: 1199px) {
  .contact__us {
    padding: 30px 60px;
    height: auto;
  }
}

@media (max-width: 540px) {
  .contact__us {
    height: 998px;
    padding: 0px;
  }
}

.contact__us__header {
  padding: 60px;
  text-align: center;
  background: url(../img/contact1@2x.png) no-repeat center center/cover;
  border-radius: 12px 12px 0 0;
}

@media (max-width: 540px) {
  .contact__us__header {
    padding: 37px 16px;
  }
}

.contact__title {
  font-size: 34px;
  color: #fff;
  font-weight: bold;
  line-height: 1.11111;
}

@media (max-width: 540px) {
  .contact__title {
    font-size: 30px;
    line-height: 0.75;
    margin-top: 8px;
  }
}

.contact__subtitle {
  line-height: 1.5;
  text-align: center;
  color: #fff;
  margin-top: 18px;
  font-family: "游ゴシック体", sans-serif;
}

@media (max-width: 540px) {
  .contact__subtitle {
    font-size: 14px;
    line-height: 1.42857;
    text-align: left;
  }
}

.contact__us__footer {
  padding: 30px 120px 44px 70px;
  background-color: #fff;
  height: 800px;
  border-radius: 0 0 12px 12px;
}

@media (min-width: 541px) and (max-width: 1199px) {
  .contact__us__footer {
    height: 835px;
    padding: 40px 24px;
  }
}

@media (max-width: 540px) {
  .contact__us__footer {
    height: 835px;
    padding: 40px 12px;
  }
}

.form {
  margin-left: 50px;
}

@media (min-width: 541px) and (max-width: 1199px) {
  .form {
    margin-left: 0;
  }
}

@media (max-width: 540px) {
  .form {
    margin-left: 0;
  }
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 29px;
  height: 40px;
}

@media (min-width: 541px) and (max-width: 1199px) {
  .form__item {
    display: block;
    margin-top: 0px;
    margin-bottom: 30px;
  }
}

@media (max-width: 540px) {
  .form__item {
    display: block;
    margin-top: 0px;
    margin-bottom: 30px;
  }
}

.form__item:nth-child(6) {
  display: block;
}

@media (min-width: 541px) and (max-width: 1199px) {
  .form__item:nth-child(2) {
    margin-top: 70px;
  }
}

@media (max-width: 540px) {
  .form__item:nth-child(2) {
    margin-top: 59px;
  }
}

@media (max-width: 540px) {
  .form__item:nth-child(3) {
    margin-top: 44px;
  }
}

@media (max-width: 540px) {
  .form__item:nth-child(4) {
    margin-top: 44px;
  }
}

@media (max-width: 540px) {
  .form__item:nth-child(6) {
    margin-top: 23px;
  }
}

.contact__label {
  font-weight: bold;
}

.contact__input {
  width: 74%;
}

@media (min-width: 541px) and (max-width: 1199px) {
  .contact__input {
    width: 100%;
  }
}

@media (max-width: 540px) {
  .contact__input {
    width: 100%;
  }
}

input[type="text"],
input[type="email"] {
  width: 100%;
}

input[type="text"],
input[type="email"] {
  border-bottom: 1px solid #707070;
}

select,
textarea {
  border: 1px solid #707070;
  padding: 12px;
  color: #707070;
}

select {
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
}

select:hover {
  -webkit-box-shadow: 0px 0px 3px #3b69ff;
          box-shadow: 0px 0px 3px #3b69ff;
}

@media (max-width: 540px) {
  select {
    width: 100%;
  }
}

.contact__input__select {
  margin-left: 60px;
}

@media (min-width: 541px) and (max-width: 1199px) {
  .contact__input__select {
    margin-left: 0px;
    margin-top: 16px;
  }
}

@media (max-width: 540px) {
  .contact__input__select {
    margin-left: 0px;
    margin-top: 6px;
  }
}

.contact__red {
  position: relative;
}

.contact__red::after {
  content: "必須";
  position: absolute;
  width: 40px;
  height: 18px;
  background-color: #FF4646;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  top: 50%;
  right: -53px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

input[type="text"]#name {
  margin-left: 156px;
}

input[type="text"]#nameKana {
  margin-left: 125px;
}

input[type="email"] {
  margin-left: 73px;
}

input[type="text"]#name:hover,
input[type="text"]#nameKana:hover,
input[type="email"]:hover {
  border-bottom: 1px solid #3b69ff;
  -webkit-box-shadow: 0px 2px 3px -3px #3b69ff;
          box-shadow: 0px 2px 3px -3px #3b69ff;
}

@media (min-width: 541px) and (max-width: 1199px) {
  input[type="text"]#name,
  input[type="text"]#nameKana,
  input[type="email"] {
    margin-left: 0;
  }
}

@media (max-width: 540px) {
  input[type="text"]#name,
  input[type="text"]#nameKana,
  input[type="email"] {
    margin-left: 0;
    margin-top: 10px;
  }
}

.form__item__radio {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 541px) and (max-width: 1199px) {
  .form__item__radio {
    display: block;
    margin-top: 40px;
  }
}

@media (max-width: 540px) {
  .form__item__radio {
    display: block;
    margin-top: 40px;
  }
}

.contact__input__radio {
  margin-left: 122px;
}

@media (min-width: 541px) and (max-width: 1199px) {
  .contact__input__radio {
    margin-left: 0px;
    margin-top: 8px;
  }
}

@media (max-width: 540px) {
  .contact__input__radio {
    margin-left: 0px;
    margin-top: 8px;
  }
}

.contact__input__radio label {
  display: inline-block;
  position: relative;
  padding-left: 1.25em;
  margin-left: 34px;
}

@media (min-width: 541px) and (max-width: 1199px) {
  .contact__input__radio label {
    margin-left: 0px;
  }
}

@media (max-width: 540px) {
  .contact__input__radio label {
    margin-left: 0px;
  }
}

.contact__input__radio label:nth-child(2) {
  margin-left: 1px;
}

.contact__input__radio label::before {
  display: block;
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #707070;
  border-radius: 50%;
  background: #fff;
}

.contact__input__radio label:hover::before {
  border: 1px solid #3b69ff;
  -webkit-box-shadow: 0px 0px 3px #3b69ff;
          box-shadow: 0px 0px 3px #3b69ff;
}

.contact__input__radio label:active::before {
  border: 1px solid #3b69ff;
  background-color: #4973FF33;
}

.contact__input__radio input:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 9px;
  left: 3px;
  width: 6px;
  height: 6px;
  background: #3B69FF;
  border-radius: 50%;
}

textarea {
  width: 100%;
  height: 200px;
}

textarea:hover {
  -webkit-box-shadow: 0px 0px 3px #3b69ff;
          box-shadow: 0px 0px 3px #3b69ff;
}

@media (max-width: 540px) {
  textarea {
    height: 160px;
    margin-top: 9px;
  }
}

.contact__label__message {
  font-weight: bold;
}

.checkbox01 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 5px 30px;
  position: relative;
  width: auto;
  font-weight: bold;
}

.checkbox01::before {
  background: #fff;
  border: 1px solid #231815;
  content: '';
  display: block;
  height: 16px;
  left: 5px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  width: 16px;
}

.checkbox01::after {
  border-right: 3px solid #3B69FF;
  border-bottom: 3px solid #3B69FF;
  content: '';
  display: block;
  height: 9px;
  left: 10px;
  margin-top: -7px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 5px;
}

input[type=checkbox]:checked + .checkbox01::after {
  opacity: 1;
}

.contact__privacy {
  margin-top: 211px;
}

@media (max-width: 540px) {
  .contact__privacy {
    margin-top: 177px;
  }
}

.contact__privacy label::before {
  background: #fff;
  border: 1px solid #231815;
  content: '';
  display: block;
  height: 16px;
  left: -19px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  width: 16px;
}

.contact__privacy label:hover::before {
  border: 1px solid #3b69ff;
  -webkit-box-shadow: 0px 0px 3px #3b69ff;
          box-shadow: 0px 0px 3px #3b69ff;
}

.contact__privacy label:active::before {
  border: 1px solid #3b69ff;
  background-color: #4973FF33;
}

.contact__privacy label {
  margin-left: 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: inline-block;
  font-size: 18px;
  line-height: 1.22222;
  padding: 8px;
}

.contact__privacy label::after {
  border-right: 3px solid #3B69FF;
  border-bottom: 3px solid #3B69FF;
  content: '';
  display: block;
  height: 9px;
  left: -13px;
  margin-top: -7px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 5px;
}

.contact__privacy label::before:checked + .contact__privacy label::after {
  opacity: 1;
}

.contact__button {
  margin-top: 30px;
  cursor: pointer;
}

@media (max-width: 540px) {
  .contact__button {
    margin: 22px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact__button input[type="submit"] {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  width: 173px;
  height: 50px;
  color: #fff;
  background: #FFAA3B;
  text-align: center;
  padding: 14px;
  border-radius: 10px;
}

input[type="submit"]:hover {
  background-color: #F18900;
}

input[type="submit"][disabled] {
  background-color: #B2B2B2;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: 636px;
  width: 100%;
  height: 292px;
  padding: 49px 120px;
  background-color: #3E3E3E;
}

@media (min-width: 541px) and (max-width: 1199px) {
  footer {
    padding: 25px;
    top: -6px;
    position: relative;
  }
}

@media (max-width: 540px) {
  footer {
    display: block;
    top: 0;
    height: 395px;
    padding: 57px 35px;
  }
}

.footer__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
}

@media (max-width: 540px) {
  .footer__sns {
    margin-top: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__twitter {
  margin-left: 32px;
}

@media (max-width: 540px) {
  .footer__twitter {
    margin-left: 0px;
  }
}

.footer__twitter a {
  color: rgba(255, 255, 255, 0.6);
}

.footer__facebook a {
  color: rgba(255, 255, 255, 0.6);
}

.fa-twitter {
  margin-left: 7px;
  font-size: 36px;
}

.fa-facebook-square {
  margin-left: 35px;
  font-size: 38px;
}

@media (max-width: 540px) {
  .fa-facebook-square {
    margin-left: 51px;
  }
}

.footer__items {
  margin-top: 34px;
  margin-left: 41px;
  letter-spacing: 3.4px;
}

@media (max-width: 540px) {
  .footer__items {
    margin-top: 39px;
    text-align: center;
    margin-left: 0px;
  }
}

.footer__item {
  font-size: 13px;
  line-height: 1.625;
  margin-bottom: 19px;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 540px) {
  .footer__item {
    font-size: 12px;
    margin-bottom: 20px;
  }
}

.footer__logo {
  margin-right: 37px;
}

@media (min-width: 541px) and (max-width: 1199px) {
  .footer__logo {
    margin-right: 0px;
  }
}

@media (max-width: 540px) {
  .footer__logo {
    margin-right: 0px;
    text-align: center;
  }
}

.footer__logo a {
  font-size: 40px;
  line-height: 1.925;
  color: #fff;
}

@media (max-width: 540px) {
  .footer__logo a {
    font-size: 32px;
    line-height: 2.40625;
  }
}

.footer__right P {
  position: relative;
}

@media (max-width: 540px) {
  .footer__right P {
    position: static;
    text-align: center;
  }
}

.footer__right P small {
  position: absolute;
  top: -6px;
  left: 86px;
  font-size: 12px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 540px) {
  .footer__right P small {
    position: static;
    width: 100%;
  }
}

.footer__top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 150;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  cursor: pointer;
}

.footer__top.is-show {
  opacity: 1;
}

@media (max-width: 540px) {
  .footer__top {
    bottom: 13px;
    right: 16px;
  }
}
/*# sourceMappingURL=style.css.map */